.right-nav-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcdbde;
    height: 80vh;
    border-radius: 20px;
}

.right-nav-container h1{
    text-align: center;
}
.right-nav-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-nav-post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 90%;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 5px;
}