.create-form-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcdbde;
    height: 80vh;
    border-radius: 20px;
}

.create-btn{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 10px;
}